* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#game-wrapper {
  display: flex;
  width: 700px;
  border: 2px solid;
  border-radius: 5px;
  justify-content: space-between;
}

.selection-btn {
  width: 75px;
  height: 75px;
  font-size: large;
}
